/* BackgroundSlider.css */

.slider-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    filter: grayscale(100%); /* Blanco y negro */
    animation: fadeAnimation 15s infinite;
  }
  
  .bg1 {
    background-image: url('https://i.postimg.cc/L4jsrgp3/backgroundslider001.jpg'); 
  }
  
  .bg2 {
    background-image: url('https://i.postimg.cc/fTKRb4k3/backgroundslider002.jpg'); 
    animation-delay: 5s;
  }
  
  .bg3 {
    background-image: url('https://i.postimg.cc/sggDQnZT/backgroundslider003.jpg');
    animation-delay: 10s;
  }
  
  /* Animación para que las imágenes se desvanezcan suavemente */
  @keyframes fadeAnimation {
    0%, 33.33% {
      opacity: 1;
    }
    66.66%, 100% {
      opacity: 0;
    }
  }
  
  /* Filtro rojo semi-transparente */
  .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.5); /* Transparencia de color rojo */
    z-index: 1;
  }
  
  /* Contenedor para el contenido principal */
  .content-overlay {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  