.ContenedorPerfil2{
    position: absolute;
    width: 55%;
}
#h2{
    text-align: center;
    color: white;
    background-color: #18191d;
    box-shadow: 1px 5px 5px rgb(0, 0, 0);
}
.seccion_1{
    margin: 1%;
    
    
    .advertencia{
        word-break: break-all;
        max-width: 100%;
        padding: 1%;
        display: flex;
        align-items: center;
        background-color: rgb(194, 126, 0);
        border-radius: 10px;
        
        #p{
            color: white;

        }
        #icon{
            
            min-height: 30px;
            min-width: 30px;
            margin-right: 2%;
            margin-left: 0.5%;
        }
    }
    
}
.seccion_2{
    position: relative;
    margin: 1%;
    #img_fondo{
        width: 100%;
        max-height: 250px;
        border-radius: 10px;
    }
    #img_perfil{
        position: absolute;
        left: 0;
        bottom: 0;
        max-width: 150px;
    }
    .icon1{
        position: absolute;
        left: 10%;
    }
    .icon2{
        position: absolute;
    }
    .custom-file-upload:nth-of-type(2) { /* boton de editar del perfil */
        color: rgba(255, 255, 255, 0.568);
        left: 12%;
        bottom: 2%;
        z-index: 1;
        position: absolute;
    }
    .custom-file-upload:nth-of-type(1) { /* boton de editar del fondo */
        color: rgba(255, 255, 255, 0.555);
        
        z-index: 1;
        position: absolute;
    }
}
.seccion_3{
    
    margin: 1%;
   .NombreyApellido{
    display: flex;

   }
   .textfiel{
    margin-right: 2%;
    margin-bottom: 2%;
    align-items: center;

    #select_edad{
        background-color: white;
        margin-left: 1%;
        height: 2rem;
        width:  3rem;
        color: rgb(0, 0, 0);
        border-radius: 10px;
    }
}
}


/* Responsividad: pantalla media */
@media (max-width: 1200px) {
   
    
}
@media (max-width: 900px) {
   
    .ContenedorPerfil2{
        position: absolute;
        width: auto;
        border: 0.5px solid rgb(83, 83, 83);
    }
    
}



/* Responsividad: pantalla pequeña */
@media (max-width: 500px) {
   
    
}



