/* .ContenedorPerfil2{
    width: 55vw;
    margin-left: 18vw;
    color: black;
    z-index: -1;
} */
#Dark .ContenedorPerfil2{
    background-color: #18191a;
}

:root {

    --color-fondoDiv: #d5dde2;
    --color-texto: #000000;
    
    #Dark{
        --color-fondoDiv: #232224;
        --color-texto: #ffffff;

    }
}

.izquierda-perfil {
    height: auto;
    flex: 2;
    height: fit-content;
    background-color: var(--color-fondo);
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    /* Habilita el desplazamiento vertical */
    width: 100%;
    position: relative;
}


#h2{
    text-align: center;
}
#Dark #h2{
    color: rgb(255, 255, 255);
}

.seccion_1{
    margin: 1%;
    
    .advertencia{
        display: flex;
        align-items: center;
        max-width: 100%;
        padding: 1%;
        background-color: rgb(194, 126, 0);
        border-radius: 10px;
        word-break: break-all;
        #p{
            color: var(--color-texto);
        }
      
        #icon{
            min-width: 30px;
            min-height: 30px;
            margin-right: 2%;
            margin-left: 0.5%;
        }
    }
}

.seccion_2{
    position: relative;
    margin: 1%;

    #img_fondo{
        width: 100%;
        max-height: 250px;
        border-radius: 10px;
    }

    #img_perfil{
        position: absolute;
        left: 0;
        bottom: 0;
        max-width: 150px;
    }
    .custom-file-upload{
        color: white;
    }
    .icon1{
        position: absolute;
        left: 10%;
    }

    .icon2{
        position: absolute;
    }

    .custom-file-upload:nth-of-type(2) { /* boton de editar del perfil */
        position: absolute;
        left: 12%;
        bottom: 2%;
         
    }

    .custom-file-upload:nth-of-type(1) { /* boton de editar del fondo */
        position: absolute;
       
    }
}

.seccion_3{
    margin: 1%;
    margin-bottom: 2%;
    h4{
        color: var(--color-texto);
    }
    
    .descripcion{
        padding: 2%;
        border-radius: 10px;
        background-color: var(--color-fondoDiv);
    }
  

    #interes_musical{
        width: 100%;
        height: 4rem;
        color: var(--color-texto);
        border: none;
        background: none;
        font-family: Arial, Helvetica, sans-serif;
        word-wrap: break-word;
        resize: none;
        
    }
}

.seccion_4{
    margin: 1%;
    margin-bottom: 2%;
    h4{
        color: var(--color-texto);
    }
    .social_media{
        padding: 2%;
        border-radius: 10px;
        background-color: var(--color-fondoDiv);

        .inputs_social{
            display: flex;
            flex-wrap: wrap;
            flex: 1;
            color: var(--color-texto);
            .social{
                display: flex;
                align-items: center;
                margin: 1%;

                #input_social{
                    color: var(--color-texto);
                    background: none;
                    border: none;
                    border-bottom: 1px solid gray;
                    margin: 1%;
                }
               

                #input-with-icon-textfield{
                    color: w;
                }

                #input_icon{
                    font-size: x-large;
                }
            }
        }
    }
}

.seccion_5{
    margin: 1%;
    margin-bottom: 2%;
    h4{
        color: var(--color-texto);
    }
    .descripcion{
        padding: 2%;
        border-radius: 10px;

        background-color:  var(--color-fondoDiv);
        #interes_musical{
            width: 100%;
            color: var(--color-texto);
            height: 4rem;
            border: none;
            background: none;
            font-family: Arial, Helvetica, sans-serif;
            word-wrap: break-word;
            resize: none;
        }
    }
}

.seccion_6{
    position: relative;
    margin: 1%;

    .formulario_inputs{
        display: flex;
        flex-wrap: wrap;
    }

    .NombreyApellido{
        display: flex;
    }

    .textfiel{
        align-items: center;
        margin-right: 2%;
        margin-bottom: 2%;
        & .MuiOutlinedInput-root {
            color: var(--color-texto);
            & fieldset {
                border-color: var(--color-texto);
            }
        }
        & .MuiInputLabel-root {
            color: var(--color-texto);
        }

        #select_edad{
            width: 3rem;
            height: 2rem;
            margin-left: 1%;
            border-radius: 10px;
        }

        #submit{
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}

#submit{
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Responsividad: pantalla media */
@media (max-width: 1200px) {}

@media (max-width: 900px) {
    .ContenedorPerfil2{
        margin-left:14vw ;
        position: absolute;
        width: auto;
    }
}

/* Responsividad: pantalla pequeña */
@media (max-width: 500px) {
    .ContenedorPerfil2{
        width: 100%;
        margin-left: 0;
    }
}
