.Contenedor-seguridad {
    margin-left: 18vw;
    width: 55vw;
    padding-left: 1%;
    height: 100vh;
    position: relative;
    
}

.card {
    margin-right: 3%;
}
#titulo{
    margin-bottom: 2%;
}
.form-section {
    display: flex;

    .textfield{
        margin-right: 5%;
        margin-bottom: 4%;
    }
    label {
    }

    #standard-password-input-1 {
        
    }
       
    #standard-password-input-2 {}

    #standard-password-input-3 {
        /*    flex:1;
        color: white; */
    }

    #standard-password-input-4 {}

}

#Dark .form-section {

    label {
        color: white;
    }

    #standard-password-input-1 {

        color: white;
    }

    #standard-password-input-2 {
        color: white;
    }

    #standard-password-input-3 {

        color: white;
    }

    #standard-password-input-4 {
        color: white;
    }

}

#img_card {}

.buttons {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 1%;

    #btn-1 {
        position: absolute;
        left: 0;
    }

    #btn-2 {
        position: absolute;
        right: 0;
    }
}



@media (max-width: 768px) {
    .Contenedor-seguridad {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    #img_card {
        max-width: 90px;
        max-height: 90px;
    }

    .card {

        margin-bottom: 3%;

    }
}