*{
    padding: 0;
    margin: 0;
}

.ads{
    margin-top: 4%;
    background-color: var(--color-contenedores);
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 4%;
    
    flex-direction: column;
    .publicidad{
        width: 100%;
        display: flex;
        align-items: center; 
        justify-content: center;
        height: auto;
        
        img{
            width: 100%;
            max-height: 155px;
            border-radius: 20px;
        }
    }
    
}
