/* HAY CSS APLICADO DE MANERA GLOBAL EN "CONTENEDOR" Y CONTENEDOR2 */
/* SI NECESITA CAMBIARLO CAMBIAR EL NOMBRE  */

/* ESTE YA FUE CAMBIADO :) */
/* BORRAR SI YA LO LEISTE :v */

.izquierda-bandas {
    height: auto;
    flex: 2;
    height: fit-content;
    background-color: var(--color-fondo);
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    /* Habilita el desplazamiento vertical */
    width: 100%;
    position: relative;

    z-index: 1;
}


/* borrar */

.Card_Banda{
    position: relative;
    margin-bottom: 2%;
    padding: 0;
    display: flex;
    background-color: #2d3748;
    border-radius: 30px;
    .Banda_img{
        img{
            width: 150px;
            height: auto;
            border-radius: 50%;
            padding: 0;
            margin: 0;
        }
    }
    .Banda_info{
    }
    .Banda_miembros{
        img{
            width: 50px;
            height: auto;
            border-radius: 50%;
            padding: 0;
            margin: 0;
        }
    }
}