* {
  padding: 0;
  margin: 0;
}

:root {

  --color-fondo: #e8e8e8;
  --color-fondoDiv: #d8d8d8;
  --color-fondoDivHover: #c4c4c4;
  --color-texto: #000000;

  #Dark {
    --color-fondo: #18191a;
    --color-fondoDiv: #232224;
    --color-texto: #ffffff;

  }
}

/* Estilos base para la división en dos columnas */
.contenedor2 {
  display: flex;
  background-color: var(--color-fondo);
}

.Contenedor {
  margin-left: 18vw;
  /* agregado por MB */
  display: inline-block;
  background-color: var(--color-fondo);
  
  /* cambiado por MB */
  width: 100vw;
}

/* La parte izquierda será más pequeña */
.derecha {
  flex: 1;
  overflow-y: hidden;
  background-color: var(--color-fondo);
  position: sticky;
  padding-right: 20px;
  margin-top: 20px; /* agredo hoy*/
  top: 20px; /* El div se mantendrá a 20px de la parte superior */
  align-self: flex-start;
  height: fit-content; /* Asegura que el div tenga un tamaño adecuado */
  
}

/* La parte derecha será más grande */
.izquierda {
  height: auto;
  flex: 2;
  align-items: center;
  height: fit-content;
  background-color: var(--color-fondo); 
  
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  /* Habilita el desplazamiento vertical */
  width: 100%;
  position: relative;

  .barra {
    position: sticky; /* Mantener la barra fija en la parte superior */
    top: 10px;
    left: 0;
    right: 0;
    transition: transform 0.3s ease; /* Para una transición suave */
    transform: translateY(0); /* Por defecto, visible */
    z-index: 10000; /* Para asegurarse de que esté por encima del contenido */
  }
  
  .barra.oculta {
    transform: translateY(-120%); /* Ocultar la barra moviéndola hacia arriba */
  }

  .barra.visible {
    transform: translateY(0);
    /* Muestra la barra */
  }
}




/* From Uiverse.io by zanina-yassine */
.tab-container {

  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 9px;
  
  width: 276px;
  background-color: var(--color-fondoDiv);
  border-radius: 25px;
}

.indicator {
  content: "";
  width: 140px;
  height: 43px;
  background: var(--color-fondoDivHover);
  position: absolute;
  top: 2px;
  left: 2px;
  
  z-index: 1;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
  border-radius: 25px;
  transition: all 0.2s ease-out;
}

.tab {
  width: 130px;
  height: 28px;
  position: absolute;
  z-index: 1;
  outline: none;
  opacity: 0;
}

.tab_label {
  width: 130px;
  height: 28px;

  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  color: var(--color-texto);
  font-size: 1rem;
  opacity: 0.6;

  cursor: pointer;
}

.tab--1:checked~.indicator {
  left: 2px;
}

.tab--2:checked~.indicator {
  left: calc(130px + 2px);
}

.tab--3:checked~.indicator {
  left: calc(130px * 2 + 2px);
}


/*   
  #mi-div {
    margin-bottom: 20px;
    gap: 10px;
    
  }

#mi-div button {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  }
  
  #mi-div button:hover {
    border: 1px solid white;
  }
  
  #mi-div button:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
  }
  
  #mi-div .svgIcon {
    height: 25px;
    transition-duration: 1.5s;
  }
  #mi-div .button:hover .svgIcon {
    transform: rotate(250deg);
    transition-duration: 1.5s;
  }
 */

.Div_1 {

  height: auto;
  width: 100%;


}
.Div_2 {

  height: auto;
  width: 100%;


}














/* Estilos para botones */
/* .btn_div {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
   */
/* Responsivo: Oculta la parte derecha en pantallas menores a 800px */
@media (max-width: 1000px) {

  .derecha {
    display: none;
  }

  .Contenedor {
    margin-left: 30vw;
  }

  .izquierda {
    flex: 1;
  }
}

@media (max-width:800px) {
  .Contenedor {
    margin-left: 15vw;
  }
}

@media (max-width: 600px) {
  .derecha {
    display: none;
  }

  .Contenedor {
    margin-left: 0;
  }

  .izquierda {
    flex: 1;
  }
}