/* HAY CSS APLICADO DE MANERA GLOBAL EN "CONTENEDOR" Y CONTENEDOR2 */
/* SI NECESITA CAMBIARLO CAMBIAR EL NOMBRE  */

/* ESTE YA FUE CAMBIADO :) */
/* BORRAR SI YA LO LEISTE :v */
.izquierda-mensajes {
    height: auto;
    flex: 2;
    height: fit-content;
    background-color: var(--color-fondo);
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    /* Habilita el desplazamiento vertical */
    width: 100%;
    position: relative;
    z-index: 1;
}
.usuarios{
    padding-bottom: 1%;
    border-bottom: 1px solid rgba(104, 104, 104, 0.623) ;
    border-top: 1px solid rgba(104, 104, 104, 0.623) ;
    overflow-x: auto;
    overflow-y: hidden;
    
}
::-webkit-scrollbar {
    width:5px; /* Ancho de la barra de desplazamiento vertical */
    height: 7px; /* Altura de la barra de desplazamiento horizontal */
}
::-webkit-scrollbar-track {
    background-color: #1b1919; /* Color del fondo */
 
}
::-webkit-scrollbar-thumb {
    background-color:var( --color-fondoDiv); /* Color del indicador */
    border-radius: 10px; /* Bordes redondeados del indicador */

}
.usuarios,.usuarios-activos{
    display: flex;
    flex-direction: row;
    margin: 1%;
    cursor: pointer;
}

/* TODOS LO QUE SON LOS MENSAJES */
.perfiles_mensajes{
    width: 100%;
    height: 90px;
    background-color: transparent;
    transition: transform 0.5s ease;
    border-radius: 10px;
}

.perfiles_mensajes:hover{
    background-color: rgb(71, 71, 71);
}

.top_mensajes{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding-top: 6px;
    padding-bottom: 8px;
    padding-left: 15px;
    gap: 10px;
}

.top_mensajes .avatar {
    margin-right: 10px;
}

.bottom_mensajes{

}

.bottom_mensajes p{
    margin-left: 15px;
}


/* CHAT */


.chats-usuario-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 10; /* Asegura que esté encima */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Clase para el contenido de ChatsUsuario */
  .chats-usuario-content {
    background-color: #4646463a;
    width: 80%; /* Ajusta el tamaño según prefieras */
    max-height: 90%;
    overflow-y: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  

