#cuerpo {
  background-color: white;
  font-family: 'Arial', sans-serif; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cuerpoRegistro {
  width: 600px;
  height: 600px;
  margin: 100px auto;
  padding: 2rem;
  border: 2px solid #333; 
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.divCampos {
  margin-bottom: 1rem;
  text-align: center;
}

.titRegistro {
  margin-bottom: 20px;
}

.formCampo {
  margin-bottom: 1rem;
  width: 100%;
  height: 60px;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  border: 2px solid black
}

.formCampo:focus {
  border-color: #00f7d6;
  outline: none; 
}

.contenedorRegistro {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnRegistro {
  max-width: 200px;
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 3px solid black;
  border-radius: 10px;
  color: black;
  transition: transform 0.3s ease; 
}

.btnRegistro:hover {
  transform: scale(1.2); 
  background-color: #000000;
  color: #fff;
}

.separador {
  color: #333;
  font-size: 0.9rem;
}

.apiRegistro {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 20px;
}

.linkLogin {
  margin-top: 20px;
}

/* estilos de fortaleza contraseña */

.passwordStrength {
  font-size: 14px;
  margin-top: 5px;
  text-align: right; 
  color: black;
}


.passwordStrength.weak {
  color: red; /* Débil */
}

.passwordStrength.normal {
  color: yellow; /* Normal */
}

.passwordStrength.strong {
  color: green; /* Fuerte */
}

  