input[type="checkbox"] {
  display: none; /* Ocultar el checkbox */
}

.toggle-button,.toggle-button-seguridad,.toggle-button-telefono {
  padding: 1%;
  border-radius: 10px;
  background-color: #324668;
}
.seccion {
  height: auto;
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.botonesX {
  background-color: #0648b9;
  border-top: none;
  width: 100%;
  padding: 2%;
  height: auto;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  align-items: center;
}

.box,.box-contraseña,.box-telefono {
  margin-top: 2%;
  position: relative;
  width: 100%;
  height: 0px;
  overflow: hidden;
  background-color: #263247;
  transition: all 0.3s ease;
    margin-bottom: 1%;
  border-radius: 15px;
}
.advertencia {
  margin: 1%;
  overflow: hidden;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  .adventencia-icon {
    width: 25px;
  }

.advertencia-text{
  font-size: 20px;
}
  
}
.formulario-seguridad {
  .campo {
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    p{
      color: rgb(255, 0, 0);
    }
  }
  .labels-seguridad {
    font-weight: 500;
  }
  .botones-control{
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    .btnGuardar-seguridad {
        all: unset;
        padding: 2%;
        background-color: #0e7500;
        border-radius: 10px;
        color: rgb(255, 255, 255);
        font-weight: 600;
        cursor: pointer;
    }
  }
  

  .inputs-seguridad {
    all: unset;
    background-color: rgb(36, 46, 61);
    padding: 1%;
    border-radius: 10px;
    margin-left: 1%;

    border: 0.5px solid rgba(255, 255, 255, 0.308);
  }
  .inputs-seguridad-cod {
    all: unset;
    background-color: rgb(36, 46, 61);
    padding: 1%;
    border-radius: 10px;
    margin-left: 1%;
    width: 40px;
    border: 0.5px solid rgba(255, 255, 255, 0.308);
  }
  
}
#telefono-codigo{
  all: unset;
  width: 20px;
}

input[type="checkbox"]:checked + .box {
  height: 320px;
  margin-bottom: 2%;
}
input[type="checkbox"]:checked + .box-contraseña {
  height: 320px;
  margin-bottom: 2%;

}
input[type="checkbox"]:checked + .box-telefono {
  height: 320px;
  margin-bottom: 2%;

}
