:root {

    --color-icon: rgb(153, 150, 150);

    #Dark {
        --color-icon: #b4b8bb;


    }
}

button {
    all: unset;
}
#btns {
    margin-right: 8%;
    display: flex;
    flex-direction: row;
    
}
#icon-activado-none, #icon-desactivado-none{
    color: var(--color-icon);
}
#icon-activado-like {
    color: red;
    cursor: pointer;

}

#icon-desactivado-like {
    color: var(--color-icon);
    cursor: pointer;

}


/* Comentarios */
#icon-activado-comentarios {
    color:var(--color-icon);
    cursor: pointer;
    
}
#icon-desactivado-comentarios {
    color: var(--color-icon);
    cursor: pointer;
}

/*  vistas */
#icon-activado-vistas {
    color:var(--color-icon);
    
}
#icon-desactivado-vistas {
    color: var(--color-icon);
}

/* Compartir */
#icon-activado-compartir {
    color:var(--color-icon);
    cursor: pointer;
    
}
#icon-desactivado-compartir {
    color: var(--color-icon);
    cursor: pointer;
}



