* {
    padding: 0;
    margin: 0;
}

.izquierda-configuracion {
    height: auto;
    flex: 2;
        
    height: fit-content;
    background-color: var(--color-fondo); 
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    /* Habilita el desplazamiento vertical */
    width: 100%;
    position: relative;
}  

.R_Contenedor-Card {
    width: 100%;
    border-radius: 10px;
    border: 0.5px solid rgb(66, 61, 61);
    margin-bottom: 1%;
    padding: 0;
    background-color: rgb(180, 180, 180);

}

#Dark .R_Contenedor-Card {

    background-color: rgb(136, 49, 49);

}

.R-image-section {
    max-width: 125px;
}

#R-img-card {
    max-width: 125px;
    border-radius: 10px;
}

.R_Card {
    display: flex;
    flex-wrap: wrap;

    .R-form-section {
        max-width: 70%;
        margin: 1%;
        word-wrap: break-word;
    }
}

@media (max-width: 1100px) {
  
    #p_short {
        display: none;
    }
}

@media (max-width: 500px) {

 
    #R-img-card {
        max-width: 75px;
        max-height: 75px;
        border-radius: 10px;
    }

    #p_long {
        display: none;
    }

    #p_short {
        display: initial;
    }
}