.custom-button {
    padding: 10px 20px;
    border-radius: 25px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    border: none;
  }
  
  .custom-button:hover {
    background-color: rgba(128, 128, 128, 0.5); /* Gris medio transparente */
  }
  
  .custom-icon {
    font-size: 1.5em; /* Ajusta el tamaño del icono */
    margin-right: 8px; /* Espacio entre el icono y el label */
  }