/* Fondo */
.fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url('ruta-a-tu-imagen-de-fondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.9);
}

/* Formulario */
.onboarding-form-ob {
  position: relative;
  z-index: 1;
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px auto;
}

/* Títulos */
.onboarding-form-ob h1 {
  color: #c62828;
}

.onboarding-form-ob h2 {
  color: #d32f2f;
  margin-bottom: 10px;
}

/* Grupo de botones */
.buttons-group-ob {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

button.role-button-ob,
button.instrument-button-ob,
button.genre-button-ob {
  padding: 10px 15px;
  border: 1px solid #d32f2f;
  border-radius: 5px;
  background-color: white;
  color: #d32f2f;
  cursor: pointer;
  transition: all 0.3s;
}

button.role-button-ob:hover,
button.instrument-button-ob:hover,
button.genre-button-ob:hover {
  background-color: #d32f2f;
  color: white;
}

button.role-button-ob.selected-ob,
button.instrument-button-ob.selected-ob,
button.genre-button-ob.selected-ob {
  background-color: #d32f2f;
  color: white;
}

/* Input de archivo */
.file-input-ob {
  display: block;
  margin: 10px auto;
  padding: 5px;
}

/* Área de texto */
.description-textarea-ob {
  width: 100%;
  border: 1px solid #d32f2f;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

/* Botón de envío */
.submit-button-ob {
  background-color: #c62828;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.submit-button-ob:hover {
  background-color: #b71c1c;
}

.text-display-ob {
  white-space: pre-line; /* Preserva saltos de línea y permite el ajuste automático del texto */
  word-wrap: break-word; /* Asegura que las palabras largas no se salgan del contenedor */
}
