/* OnboardingForm.css */

/* OnboardingForm.css */
.onboarding-wrapper {
  position: fixed; /* Fija el contenedor en la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; /* Centrado vertical */
  justify-content: center; /* Centrado horizontal */
  z-index: 1;
}

.onboarding-container {
  position: relative;
  z-index: 2;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}


.onboarding-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.onboarding-buttons button {
  padding: 10px 20px;
  background-color: #ff0000; /* Fondo rojo */
  color: white; /* Texto en blanco */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.onboarding-buttons button:hover {
  background-color: #cc0000; /* Fondo rojo oscuro al pasar el cursor */
}
